/* Adding Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --font-primary: "Quicksand", sans-serif;
    --primary-color: orange;
    --card_paragraph_font_size: 1rem;
    --font-weight1: 500;
    --font-weight2: 600;
    --font-weight3: 700;
}

body {
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.hide {
    display: none;
}

/* Setting Default Customization */
header,
main,
footer {
    max-width: 90rem;
    margin: 0 auto;
    /* Centers the content if the viewport width exceeds 90rem */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.color1 {
    color: var(--primary-color);
}

.color2 {
    color: skyblue;
}

.color3 {
    color: #05D4DF;
}

.color4 {
    color: #5D58EF;
}

.color5 {
    color: #202020;
}

.color6 {
    color: #808080;
}

.color7 {
    color: #666666;
}

.color8 {
    color: #8700FF;
}

.bg1 {
    background-color: var(--primary-color);
}

.bg2 {
    background-color: black;
}

.bg3 {
    background-color: #01ACFD;
}

.bg4 {
    background-color: #3CD8E8;
}

.bg5 {
    background-color: #95B226;
}

.bg6 {
    background-color: #5D58F0;
}

.bg7 {
    background-color: #3B5998;
}

.bg8 {
    background-color: #EA4C89;
}

.bg9 {
    background-color: #1DA1F2;
}

.bg10 {
    background-color: #DD4B39;
}

.button1 {
    padding: .625rem 2.5rem;
    color: white;
    font-size: 1.25rem;
    font-weight: var(--font-weight2);
    border: none;
    border-radius: .75rem;
    cursor: pointer;
    text-align: center;
}

.button2 {
    padding: .625rem;
    color: white;
    font-size: var(--card_paragraph_font_size);
    font-weight: var(--font-weight3);
    border: none;
    border-radius: 2.9375rem;
    cursor: pointer;
    text-align: center;
}

.nav_heading {
    font-size: 2rem;
    font-weight: var(--font-weight3);
}

.nav_links {
    font-size: 1.25rem;
    font-weight: var(--font-weight3);
}

.banner_heading {
    font-size: 3.5rem;
    font-weight: var(--font-weight3);
}

.banner_paragraph {
    font-size: 1.25rem;
}

.standard_curriculum_heading,
.our_stories_heading {
    font-size: 2.875rem;
    font-weight: var(--font-weight3);
}

.standard_curriculum_card_heading,
.our_stories_card_heading,
.footer_bookmarks_heading {
    font-size: 1.5rem;
    font-weight: var(--font-weight3);
}

.standard_curriculum_card_paragraph,
.our_stories_card_paragraph {
    font-weight: var(--font-weight1);
    font-size: var(--card_paragraph_font_size);
}

.standard_curriculum_card_links,
.our_stories_secondary_card_heading {
    font-weight: var(--font-weight3);
}

footer {
    color: white;
}

.footer_heading {
    font-size: 2.625rem;
    font-weight: var(--font-weight3);
}

.footer_paragraph {
    font-size: 1.25rem;
}

.footer_bookmark {
    font-size: 1.25rem;
    font-weight: var(--font-weight1);
}

.footer_social_links_heading {
    font-size: 1.625rem;
    font-weight: var(--font-weight3);
}

/* nav section */
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_home_container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav_links_container {
    display: flex;
}

.menu_bar {
    display: none;
}

/* banner section */
.banner_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* standard curriculum section */
.standard_curriculum_section_bg {
    background-image: url("assets/images/bg.png");
}

.standard_curriculum_card_heading_extra_styles {
    text-align: center;
    padding: 3.75rem 0 5rem;
}

.standard_curriculum_card1 {
    border: 0.94px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.standard_curriculum_card2 {
    border: 0.94px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.standard_curriculum_card3 {
    border: 0.94px solid rgb(242, 232, 255);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.standard_curriculum_card_extra_styles {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18.86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2.5rem 3.3125rem;
    text-align: center;
}

.standard_curriculum_card_container {
    display: flex;
    gap: 1.75rem;
}

.standard_curriculum_card_arrow {
    display: flex;
    justify-content: center;
    gap: .625rem;
    padding: 5rem 0 1rem;
}

.arrow {
    background-color: var(--primary-color);
    border-radius: 100%;
    padding: 1.0625rem 1.375rem 1.1875rem;
    cursor: pointer;
}

/* our stories section */
.our_stories_section_bg {
    background: url('assets/images/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.our_stories_heading_extra_styles {
    text-align: center;
    padding: 3.75rem 0 5rem;
}

.our_stories_card_date {
    width: 10.875rem;
    padding: .875rem 1.125rem;
    border-radius: 2.9375rem;
    color: white;
    font-weight: 500;
    font-size: .9375rem;
    position: absolute;
    bottom: -0.9375rem;
    left: 2.375rem;
}

.our_stories_card_date2 {
    width: 10.875rem;
    padding: .5625rem 1.125rem;
    border-radius: 2.9375rem;
    color: white;
    font-weight: 500;
    font-size: .9375rem;
    position: absolute;
    bottom: -0.9375rem;
    left: 1.5rem;
}

.our_stories_all_card_container {
    display: flex;
    gap: 1.1875rem;
}

.our_stories_all_card_container img {
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
    /*top-left, top-right, bottom-left, bottom-right  */
}

.our_stores_large_card {
    border-radius: 1rem;
    background-color: white;
    width: 90%;
}

.our_stores_large_card_image_container {
    position: relative;
}

.our_stores_large_card_content {
    padding: 2.0625rem 2.375rem;
}

.our_stores_large_card_content h2 {
    padding-bottom: 2.9375rem;
}

.our_stores_small_card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.1875rem;
}

.our_stories_small_card {
    border-radius: 1rem;
    background-color: white;
}

.our_stories_small_card_image_container {
    position: relative;
}

.our_stories_secondary_card_heading_extra_styles {
    padding: 2rem 1rem 2rem 1rem;
}

.our_stories_button {
    text-align: center;
    padding: 5rem 0 3.75rem;
}

/* Footer Section */
.footer_container {
    padding: 7.625rem 0 10.625rem;
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    display: flex;
    align-items: center;
}

.footer_image img {
    width: auto;
    height: 100%;
}

.footer_logo_content {
    width: 25rem;
    padding-top: 2.1875rem;
}

.footer_bookmark {
    color: white;
}

.footer_bookmark_container p {
    padding-top: 2rem;
}

.social_links_container {
    display: flex;
    gap: .625rem;
    padding-top: 2rem;
}

.social_links_container p {
    padding: .625rem;
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: .25rem;
}

/* Media Queries */
/* 4K*/
@media (max-width: 2160px) {
    html {
        font-size: 18px;
    }

    /* Setting Default Customization  */
    #nav_section,
    #banner_section,
    #standard_curriculum_section,
    #our_stories_section,
    #footer_section {
        padding: 0 13.2188rem;
    }

    /* nav section */
    .nav_container {
        padding: 1.875rem 0;
    }

    .nav_links {
        gap: 3rem;
    }

    /* banner section */
    .banner_paragraph {
        padding: 2.25rem 0;
        width: 40rem;
    }

    .banner_image {
        width: 30vw;
    }
}

/* 2K */
@media (max-width: 1440px) {
    html {
        font-size: 16px;
    }

    /* Setting Default Customization */
    #nav_section,
    #banner_section,
    #standard_curriculum_section,
    #our_stories_section,
    #footer_section {
        padding: 0 8.8125rem;
    }

    /* nav section */
    .nav_container {
        padding: 1.25rem 0;
    }

    .nav_links {
        gap: 2rem;
    }

    /* banner section */
    .banner_paragraph {
        padding: 1.5rem 0;
        width: 40rem;
    }

    .banner_image {
        width: 30vw;
    }

    /* standard Curriculum section */

}

/* Full HD */
@media (max-width: 1024px) {
    html {
        font-size: 16px;
    }

    /* Setting Default Customization  */
    #nav_section,
    #banner_section,
    #standard_curriculum_section,
    #our_stories_section,
    #footer_section {
        padding: 0 6.25rem;
    }

    /* nav section */
    .nav_container {
        padding: .8888rem 0;
    }

    .nav_links {
        gap: 1.375rem;
    }

    /* banner section */
    .banner_heading {
        font-size: 2.625rem;
    }

    .banner_paragraph {
        font-size: .9375rem;
        padding: 1.125rem 0;
        width: 30rem;
    }

    .banner_image {
        width: 30vw;
    }

    /* standard curriculum section */
    .standard_curriculum_card_extra_styles {
        gap: .7rem;
        padding: 0 1rem 1rem;

    }

    .standard_curriculum_card_heading {
        font-size: 1.125rem;
    }

}

/* Tablet and HD resolution */
@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    /* Setting Default Customization  */
    #nav_section,
    #banner_section,
    #standard_curriculum_section,
    #our_stories_section,
    #footer_section {
        padding: 0 4.7rem;
    }

    /* nav section */
    .nav_container {
        padding: .6663rem 0;
    }

    .nav_links {
        gap: 1rem;
    }
}

/* Large mobile devices */
@media (max-width: 425px) {
    html {
        font-size: 6.6px;
    }

    /* Setting Default Customization  */
    #nav_section,
    #banner_section,
    #standard_curriculum_section,
    #our_stories_section,
    #footer_section {
        padding: 0 2.6rem;
    }

    /* nav section */
    .nav_container {
        padding: .3688rem 0;
    }

    .nav_links_container,
    .btn_lg,
    .nav_heading {
        display: none;
    }

    .menu_bar {
        display: block;
        font-size: 10rem;
    }

    .nav_home_logo {
        width: 10rem;
        height: 10rem;
    }

    #nav_section {
        border: 1px solid var(--primary-color);
    }

    /* banner section */
    .banner_container {
        flex-direction: column-reverse;
    }

    .banner_image {
        width: 100%;
    }

    .banner_heading {
        font-size: 5rem;
        text-align: center;
        padding: 1.25rem 0;
    }

    .banner_paragraph {
        text-align: center;
        font-size: 2rem;
        width: 100%;
    }

    .btn_sm {
        display: block;
        margin: 0 auto;
        font-size: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    /* standard curriculum section */
    .standard_curriculum_card_container {
        flex-direction: column;
    }

    .standard_curriculum_card_paragraph_extra_styles {
        width: 22rem;
    }

    /* Our Stories Section */
    .our_stores_large_card {
        display: none;
    }

    .hide {
        display: block;
    }

    /* Footer section */
    .footer_container {
        flex-direction: column;
    }
}

/* Medium mobile devices */
@media (max-width: 375px) {
    html {
        font-size: 5.8px;
    }

    /* Setting Default Customization  */
    #nav_section,
    #banner_section,
    #standard_curriculum_section,
    #our_stories_section,
    #footer_section {
        padding: 0 2.2944rem;
    }

    /* nav section */
    .nav_container {
        padding: .325rem 0;
    }

}

/* Very small phones */
@media (max-width: 320px) {
    html {
        font-size: 5px;
    }

    /* Setting Default Customization  */
    #nav_section,
    #banner_section,
    #standard_curriculum_section,
    #our_stories_section,
    #footer_section {
        padding: 0 1.9581rem;
    }

    /* nav section */
    .nav_container {
        padding: .275rem 0;
    }
}